node-red-contrib-graph-oauth-login/node-red-contrib-graph-oauth-login/sample/examples/Application login.json
[{"id":"757ff206.1a705c","type":"tab","label":"Application Flow","disabled":false,"info":""},{"id":"cbb90109.b605a","type":"inject","z":"757ff206.1a705c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":280,"wires":[["6784118b.8f0bd"]]},{"id":"8a193c6a.35072","type":"debug","z":"757ff206.1a705c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":360,"wires":[]},{"id":"a96111d1.d8b77","type":"function","z":"757ff206.1a705c","name":"Create Payload","func":"msg.headers = {\n    \"Authorization\": flow.get('graphapplicationbearertoken'),\n    \"Content-Type\": \"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":280,"wires":[["ddae49fd.cf3d58"]]},{"id":"ddae49fd.cf3d58","type":"http request","z":"757ff206.1a705c","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://graph.microsoft.com/v1.0/users","tls":"","persist":false,"proxy":"","authType":"","x":850,"y":280,"wires":[["83958def.32499"]]},{"id":"83958def.32499","type":"debug","z":"757ff206.1a705c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1010,"y":280,"wires":[]},{"id":"f6274b50.4319a8","type":"switch","z":"757ff206.1a705c","name":"","property":"payload.error","propertyType":"msg","rules":[{"t":"istype","v":"undefined","vt":"undefined"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":470,"y":280,"wires":[["a96111d1.d8b77"],["54d84c43.8087e4"]]},{"id":"54d84c43.8087e4","type":"function","z":"757ff206.1a705c","name":"Log Error","func":"node.log(\"Error occured: \" + msg.payload.error);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":360,"wires":[[]]},{"id":"6784118b.8f0bd","type":"node-red-contrib-graph-oauth-login","z":"757ff206.1a705c","name":"Application login","scope":"https%3A%2F%2Fgraph.microsoft.com%2F.default","redirecturi":"","code":"","encoding":false,"logintype":"Application","x":280,"y":280,"wires":[["8a193c6a.35072","f6274b50.4319a8"]]},{"id":"1d0d2e5d.85c712","type":"inject","z":"757ff206.1a705c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":460,"y":140,"wires":[["a96111d1.d8b77"]]},{"id":"8fa1afea.c1b94","type":"comment","z":"757ff206.1a705c","name":"After initial login","info":"You can use this after the first login succeeded.\nNo need to go through the authorization process again, as long as the container is alive","x":380,"y":80,"wires":[]}]