node-red-contrib-graph-oauth-login/node-red-contrib-graph-oauth-login/sample/examples/Delegated login.json
[{"id":"375521f6.a29a0e","type":"tab","label":"Delegated Flow","disabled":false,"info":""},{"id":"437d705e.18271","type":"inject","z":"375521f6.a29a0e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":280,"wires":[["d5858679.e11a88"]]},{"id":"ca74dc07.be004","type":"debug","z":"375521f6.a29a0e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":340,"wires":[]},{"id":"5c76250.9f6e6dc","type":"function","z":"375521f6.a29a0e","name":"Create Payload","func":"msg.headers = {\n    \"Authorization\": flow.get('graphdelegatedbearertoken'),\n    \"Content-Type\": \"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":280,"wires":[["fb3a7594.9fd8c8"]]},{"id":"c05e8afe.f4e188","type":"debug","z":"375521f6.a29a0e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1010,"y":280,"wires":[]},{"id":"61558d44.bc62e4","type":"switch","z":"375521f6.a29a0e","name":"","property":"payload.error","propertyType":"msg","rules":[{"t":"istype","v":"undefined","vt":"undefined"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":470,"y":280,"wires":[["5c76250.9f6e6dc"],["35a86b38.c65f44"]]},{"id":"35a86b38.c65f44","type":"function","z":"375521f6.a29a0e","name":"Log Error","func":"node.log(\"Error occured: \" + msg.payload.error);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":340,"wires":[[]]},{"id":"d5858679.e11a88","type":"node-red-contrib-graph-oauth-login","z":"375521f6.a29a0e","name":"Delegated","scope":"ChannelMessage.Send","redirecturi":"http%3A%2F%2Flocalhost","code":"","encoding":false,"logintype":"Delegated","x":270,"y":280,"wires":[["61558d44.bc62e4","ca74dc07.be004"]]},{"id":"b5176a4d.82be18","type":"inject","z":"375521f6.a29a0e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":460,"y":120,"wires":[["5c76250.9f6e6dc"]]},{"id":"8e55379.2e97ec8","type":"comment","z":"375521f6.a29a0e","name":"After initial login","info":"You can use this after the first login succeeded.\nNo need to go through the authorization process again, as long as the container is alive","x":400,"y":60,"wires":[]},{"id":"fb3a7594.9fd8c8","type":"http request","z":"375521f6.a29a0e","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://graph.microsoft.com/v1.0/me","tls":"","persist":false,"proxy":"","authType":"","x":850,"y":280,"wires":[["c05e8afe.f4e188"]]},{"id":"972f52f3.d4d8f","type":"comment","z":"375521f6.a29a0e","name":"Get access token Graph","info":"https://login.microsoftonline.com/[TENANTID]/oauth2/v2.0/authorize?\nclient_id=[CLIENTID]\n&response_type=code\n&redirect_uri=http://localhost\n&response_mode=query\n&scope=[SCOPES]\n&state=12345","x":130,"y":60,"wires":[]}]